workflow/report
results/
report/
logs/
.snakemake/
data/*.fastq
data/reference/*.fasta
data/reference/*.amb
data/reference/*.ann
data/reference/*.bwt
data/reference/*.pac
data/reference/*.sa
data/reference/*.fai
